body {
    background-color: rgba(19, 18, 18, 0.959);
}
h1 {
    text-align: center;
    font-family: 'Metal Mania', cursive;
    color: rgba(165, 7, 7, 0.89);
}
p {
    text-indent: 30px;
    font-family: 'Indie Flower', cursive;
    font-size: 400;
    color: rgba(15, 150, 67, 0.849);
}